#download_main {
    background-image: url(/static/images/home_background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

#download_div {
    background-color: white;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 150px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#download_div h1 {
    margin-top: 80px;
    text-align: center;
}

#download_div hr {
    margin-bottom: 50px;
}

#download_div p {
    text-align: justify;
}

#download_div button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 58px;
    width: 170px;
    line-height: 60px;
    font-family: 'Title font';
    color: white;
    background-color: #161719;
    border: none;
    font-size: 35px;
}

#download_div button:hover {
    font-size: 40px;
    cursor: pointer;
}
