{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/styles/download_style.css">
<div id="download_main">
<div id="download_div">
    <h1>Download Workspace Today!</h1>
    <hr>
    <p>Download Workspace and start organizing your tasks in a simpler and more efficient way.</p>
    <p>With a clean interface and practical tools, Workspace helps you focus on what truly matters and keep your responsibilities well structured. Install it now and experience a more productive and organized workflow from the very beginning.</p>
    <a href="/static/AVISO.txt" download>
        <button>Download</button>
    </a>
</div>
</div>
{% endblock %}